.off {
    display: none;
}
.active {
  display: block;
  position: absolute;
  top: 4rem;
  left: 0;
  width: 100%;
  height: 94vh;
  background-color: #000;
  color: white;
  z-index: 1;
}

#menu{
    li{
        padding: 1rem;
    }
    li:hover{
        background-color: #fff;
        color: #000;
        transition: all .3s ease-in-out;
    }

    li:nth-child(8){
        width: 90%;
        margin: 0 auto;
        border-top: 1px white solid;
        font-size: .8rem;
    }
    li:nth-child(9){
        margin: 0 auto;
        width: 90%;
        font-size: .8rem;
    }
    li:nth-child(10){
        margin: 0 auto;
        width: 90%;
        font-size: .8rem;
    }
}
.submenu{
    margin-left: 1rem;
    font-size: .8rem;
}
.submenuDesk{
    margin-left: 1rem;
    font-size: .8rem;
}
