.card{
    width: 49%;
    h2{
        margin-top: 1rem;
        color: grey;
        font-size: 1.5rem;
        font-weight: 400;
    }
    p{
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
}
@media screen and (min-width: 576px) {
    .card{
        width: 23%;
    }
}